<%= turbo_stream_from "global_notifications" %>

<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <%= link_to "Curaclam", root_path, class: "brand-link" %>
    </div>

    <div class="navbar-menu">
      <%= link_to "CV Analyses", cv_analyses_path, class: "nav-link #{controller_name == 'cv_analyses' ? 'active' : ''}" %>
      <%= link_to "Upload CV", new_cv_analysis_path, class: "nav-link btn btn-primary btn-sm" %>
    </div>

    <div class="navbar-notifications">
      <div class="notifications-dropdown" data-controller="notifications">
        <%= render "shared/navbar_notifications" %>
      </div>
    </div>
  </div>
</nav>
